/* right hand sidebar */
div#sidebar{position:absolute;top:0;right:0;width:10%;margin:0;padding:0;border:1px solid #71a5dd;text-align:center;color:#fff;font-size:12px;text-align:center;height:100%;}
html>body div#sidebar{right:0;}
#sidebar h2{padding:10px 5px;margin:0;}
#sidebar p{padding:3px;}




div#topSlides{float:right;margin:0 0 5px 10px;width:150px;}
div#topSlides span#thumbs{display:block;text-align:right;height:24px;}
div#topSlides span#thumbs img{height:20px;}
div#topSlides img#currImage{display:block;margin:5px 0 0 0;}

table#details{margin:0;width:60%;}
html>body table#details{width:100%;} 
#details td{font-weight:bold;}
#details span{color:#fff;margin:0 10px 0 0;}

a.white{font-size:12px;color:#fff;}

.lr{position:relative;clear:both;margin:10px 0;height:14px;}
.lr span{position:absolute;right:0;}

h2.lr span, h3.lr span{right:2px;}
h1{ position:relative; width:100%;}
h1 span{position:absolute;right:2px;}
h4 span{color:#fff;}
div.pic{float:left;position:relative;margin:5px 3px;width:150px;height:200px;text-align:center;overflow:hidden;}
div.pic img{display:block;}
div.pic span{display:block;padding:0 0 10px 0;}
div.pic span#editBtns{padding:5px 0 0 0;margin:0;}
h1.pic{clear:both;padding-top:10px;}
h2.pic{clear:left;}
div#trophyRoom{display:block;position:relative;}

div.picContainer{height:120px;overflow:hidden;}
div.team{display:block;}
div.team img{float:left; margin:0 5px 30px 0;}
div.team h2{clear:both;}


div#imageFilter{}
div#imagePreview{float:right;}
div#imagePreview fieldset img{display:block;}


/* admin styles */
div#emailForm{width:500px; margin:auto;text-align:center;}
#emailForm table{background-color:#CCC;border:1px solid #000;width:500px;}
#emailForm td{font-size:10px;}
#emailForm td.btn{text-align:right;}
#emailForm input{color:#000;width:120px;font-weight:bold;}

.form{width:500px;border:1px solid #71a5dd;margin:auto;}
.form td{border:1px solid #000; text-align:center;}
.form th{background-color:#71a5dd;color:#033;padding:3px;}
.form input, .form textarea{background-color:#71a5dd;font-weight:bold; font-size:12px;}
.form td.small input{width:30px;text-align:center;}
.search{text-align:center;}
table#debug{border:1px solid red;}
table#debug td{border:1px solid red;background-color:#FF99CC;}

#pager{font-size:9px;width:500px;}
#pager a{color:#000;}
#pager .currPage a{font-size:12px;color:#900;}

/* footer styles */
#footer{clear:both;text-align:center;border-top:1px solid #71a5dd;margin:100% 0 0 0;}
#footer a{color:#71a5dd;font-size:12px;}

fieldset{border:2px solid white;margin-bottom:5px;}

ul#nav {display:block;
position:absolute;
z-index:1;
left:0;
top:0;
width:15%;
xheight:100%;
background:#71a5dd url(../../templates/images/header/elk-light.jpg) no-repeat;font-family:Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size:12px;border:1px solid #fff;border-width:0 1px 0 0;
	}
	
ul#nav li {
	display:block;
	position: relative;
	width:100%;
	text-align:right;
	}


ul#nav li ul {
	position: absolute;
	left: 100%;
	width:110px;
	top: 0;
	display: none;
	padding:3px 0;
	margin:0;
	background-color:#003;border:1px solid #fff;
	
	}
ul#nav li a {
	display: block;
	text-decoration: none;
	color: #003;
	padding:2px 6px 2px 2px;
	text-decoration:none;
	}

ul#nav li.cat a{position:relative;color:#fff;background:#003;border:1px solid #fff;border-width:1px 0; cursor:text;}
ul#nav li.contact{color:#fff; background:#003;border:1px solid #fff;border-width:1px 0; cursor:text;}
ul#nav li.contact a{color:#fff; border:none; }
ul#nav li.contact a.navEmail{font-size:9px;}

ul#nav li ul li a {
	font-size:11px;
	line-height:11px;
	color:#fff;
	text-align:center;
	text-decoration:underline;
	padding:2px 3px;
	}

/* Fix IE. Hide from IE Mac \*/
* html ul#nav li { float: left; height: 1%; }
* html ul#nav li a { height: 1%; }
/* End */
	
ul#nav li:hover ul, ul#nav li.over ul { display: block; }
ul#nav li a:hover{color:#fff;}
ul#nav li ul li a:hover{color:#003;background-color:#71a5dd;}
